@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 3.9%;

		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;

		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;

		--primary: 0 0% 9%;
		--primary-foreground: 0 0% 98%;

		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 9%;

		--accent: 0 0% 96.1%;
		--accent-foreground: 0 0% 9%;

		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 0 0% 98%;

		--ring: 0 0% 3.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 0 0% 3.9%;
		--foreground: 0 0% 98%;

		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;

		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;

		--card: 0 0% 3.9%;
		--card-foreground: 0 0% 98%;

		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;

		--primary: 0 0% 98%;
		--primary-foreground: 0 0% 9%;

		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;

		--accent: 0 0% 14.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--ring: 0 0% 83.1%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Public Sans', sans-serif;
}

input,
button:focus {
	border: none;
	outline: none;
}

svg {
	fill: currentColor;
}

.c-i-a-h-c {
	animation: rotate-full 60s linear infinite;
	transform: rotate(165deg);
}

@keyframes rotate-full {
	from {
		transform: rotate(165deg);
	}
	to {
		transform: rotate(525deg);
	}
}

.hover\:bg-white-10:hover {
	background-color: rgba(white, 0.1);
}
.hover\:bg-white-20:hover {
	background-color: rgba(white, 0.2);
}
.box-orient-vertical {
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.scrollbar-thin::-webkit-scrollbar {
	width: 2px !important;
}
.transition-left {
	transition-property: left;
	transition-timing-function: cubic-bezier(0.68, 0, 0.36, 0.97);
	transition-duration: 400ms;
}
.blur-1 {
	backdrop-filter: blur(4px);
}
.blur-2 {
	backdrop-filter: blur(8px);
}
.bg-gray-18 {
	background-color: var(--gray-18);
}
.bg-gray-19 {
	background-color: var(--gray-19);
}
.bg-gray-18.bg-opacity-20 {
	background-color: rgba(var(--gray-18), 0.2);
}

.blend-dodge {
	mix-blend-mode: color-dodge;
}

.glass-2 {
	backdrop-filter: blur(8px);
}

.progress::after {
	animation-duration: 2s !important;
}

.h-100vh {
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
}

.min-h-100vh {
	min-height: 100vh;
	min-height: calc(var(--vh, 1vh) * 100);
}
